<div class="container">
<div class="row">
    <div class="col-lg-12">
        <div class="intro-message ws-center-align ws-intro-message">
            <h1>{{placeDetail.name}}</h1>
                <h3></h3>
                <hr class="intro-divider ws-intro-divider">
                <ul class="list-inline intro-social-buttons">
                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-map-marker fa-fw"></i> <span class="network-name">Explore Nearby</span></a>
                    </li>
                    <li>
                    	<ws-element-button></ws-element-button>
                    </li>
                    <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-search fa-fw"></i> <span class="network-name">Search</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class='col-lg-6'>
        	<div ws-place-description></div>
        </div>
        <div class='col-lg-6'>
			<div ws-place-map></div>
		</div>
    </div>
    
</div>
<!-- /.container -->