.navbar-brand {
    padding-top: 5px;
}
.intro-message > h1{
    color: #0088cc;
}

.ws-container{
    margin-top: 50px;
    min-height: 500px;
}
.ws-login-form{
    width: 400px;
    margin: auto;
    padding-top: 100px;
}
.ws-login-form form{
    background: white;
    padding: 20px;
    color: black;
    -webkit-box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
}
.ws-margin-small{
    margin: 5px;
}
.ws-border{
    border: thin solid #999999;
}
legend.ws-header{
    color: #0088cc;
}
.ws-center-align{
    text-align: center;
}
.ws-intro-message{
    padding-top: 50px;
    padding-bottom: 0px;
}
.ws-intro-divider{
    margin: 20px auto;
}

.ws-inverse{
	background: white;
}
.ws-widget-fix-height{
	min-height: 200px;
	max-height: 400px;
	overflow: hidden;
}
.ws-place-widget{
	margin: 10px;
	padding: 10px;
}
.ws-place-widget header{
	font-weight: bold;
	color: #0088cc;
	border-bottom: 2px solid orange;
	font-size: 20px;
		
}

.ws-place-widget .content{
	font-weight: normal;
	padding: 10px;
	font-size: 13px;
	overflow: auto;
	height: 200px;
	overflow: auto;
}