.navbar-brand {
    padding-top: 5px;
}
.intro-message > h1{
    color: #0088cc;
}

.ws-container{
    margin-top: 50px;
    min-height: 200px;
}
.ws-login-form{
    width: 400px;
    margin: auto;
    padding-top: 100px;
}
.ws-login-form form{
    background: white;
    padding: 20px;
    color: black;
    -webkit-box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
}
.ws-margin-small{
    margin: 5px;
}
.ws-border{
    border: thin solid #999999;
}
legend.ws-header{
    color: #0088cc;
}