body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: normal;
}
.border{
	border: thin solid #DDDDDD;
}
.spacer-mini{
	height: 5px;
}
.spacer-small{
	height: 10px;
}
.ws-margin-mini{
	margin: 5px;
}
.ws-margin-small{
	margin: 10px;
}
.ws-no-radius{
	border-radius: 0px;
}
.navbar-brand {
    padding-top: 5px;
}
.intro-message > h1{
    color: #0088cc;
}
.ws-fullwidth{
	width: 100%;
}
.ws-container{
    margin-top: 50px;
    min-height: 500px;
}

.ws-minimize-padding{
	padding-left: 5px;
	padding-right: 5px;
}

.ws-login-form{
    width: 400px;
    margin: auto;
    padding-top: 100px;
}
.ws-login-form form{
    background: white;
    padding: 20px;
    color: black;
    -webkit-box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
box-shadow: 0px 5px 48px 26px rgba(0,0,0,0.75);
}
.ws-margin-small{
    margin: 5px;
}
.ws-border{
    border: thin solid #999999;
}
legend.ws-header{
    color: #0088cc;
}
.ws-center-align{
    text-align: center;
}
.ws-intro-message{
    padding-top: 50px;
    padding-bottom: 0px;
}
.ws-intro-divider{
    margin: 20px auto;
}
.ws-dropdown-item a{
	padding: 3px 10px !important;	
}
.ws-inverse{
	background: white;
}
.ws-widget-fix-height{
	min-height: 200px;
	overflow: hidden;
}
.ws-place-widget{
/* 	//margin: 10px;
	//padding: 10px; */
}

.ws-place-widget header{
	font-weight: bold;
	color: #0088cc;
	border-bottom: 1px solid #f0f0f0;
	font-size: 20px;
		
}
.ws-place-widget header.ws-eat{
	/* border-bottom: 2px solid red; */
}
.ws-place-widget header.ws-visit{
	/* border-bottom: 2px solid green; */
}
.ws-place-widget header.ws-stay{
	/* border-bottom: 2px solid #999999; */
}
.ws-place-widget .content{
	font-weight: normal;
	font-size: 13px;
	overflow: auto;
}
ws-modal.modal{
	text-align: left;
}
.modal-title {
	color: #333333;
}
.modal-content {
	border-radius: 0px;
}
.modal-dialog{
	text-align: left;
}
.modal-body{
	padding: 5px;
}
.modal-header{
	text-align: left;
	padding: 5px 10px;
}
.modal-footer{
	padding: 5px 10px;
}

/* Add element Styles */
.modal-body.addelementcontent{
	padding: 15px;
}


/* google maps */
.angular-google-map-container { height: 400px; }


/* typeahead */
.city-typeahead-item{
    width: 300px;
}
.typeahead li.active > a, .typeahead li.active > a:hover{
	background-color: #eac117;
	background-image: -moz-linear-gradient(top, #eac117, #feb718);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#eac117), to(#feb718));
	background-image: -webkit-linear-gradient(top, #eac117, #feb718);
	background-image: -o-linear-gradient(top, #eac117, #feb718);
	background-image: linear-gradient(to bottom, #eac117, #feb718);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eac117', endColorstr='#feb718', GradientType=0);
}

/* angular tabber */
.ws-place-widget .content .tabbable .nav-tabs {
	border-bottom: 0px;
}
.ws-place-widget .content .tabbable .nav-tabs > li.active > a,
.ws-place-widget .content .tabbable .nav-tabs > li.active > a:hover,
.ws-place-widget .content .tabbable .nav-tabs > li.active > a:focus {
  color: #555;
  cursor: default;
  border-bottom-color: transparent;
}
.ws-place-widget .content .tabbable .nav-tabs > li > a:hover {
	background: none;
}
.ws-place-widget .content .tabbable .nav-tabs > li.active {
	border-bottom: 2px solid orange;
}
.ws-place-widget .content.ws-eat .tabbable .nav-tabs > li.active {
	border-bottom: 2px solid red;
}
.ws-place-widget .content.ws-visit .tabbable .nav-tabs > li.active {
	border-bottom: 2px solid green;
}
.ws-place-widget .content.ws-stay .tabbable .nav-tabs > li.active {
	border-bottom: 2px solid #999999;
}
.ws-place-widget .content .tabbable .nav-tabs > li{
	margin-bottom: 0px;
}
.ws-place-widget .content .tabbable .nav-tabs > li > a {
	margin-right: 2px;
	line-height: 1.428571429;
	border: 1px solid transparent;
	padding: 2px 10px;
	font-weight: bold;	
}

/* google auto complete */
.pac-container{
	z-index:1050;
}
.pac-container:after{
    content:none !important;
}