<div class="dropdown open button-selector">
    <button id="drop1" href="#" role="button" class="dropdown-toggle btn" data-toggle="dropdown">{{selectedPlaceLabel}} <b class="caret"></b></button>
    <div class="dropdown-menu" role="menu" aria-labelledby="drop1">
        <input type="text" ng-model="query" class="selector-filter" />
        <div class="selector-list-container">
            <ul class="unstyled selector-list">
                <li ng-repeat="placeTemp in places | filter:query"><a tabindex="-1" data-ng-click="selectPlace(placeTemp.id)">{{placeTemp.name}}</a></li>
            </ul>
        </div>
    </div>
</div>