<div>
    <div ng-show="mode.search">
        <div class="row-fluid">
            <div class="span6">
                {{model.contactinfo.addressLine1}}, {{model.contactinfo.addressLine2}}
            </div>
            <div class="span6">
                <a href="{{model.urlService.BASE_URI}}place/{{model.contactinfo.place.slug}}">{{model.contactinfo.place.name}}</a>, {{model.contactinfo.place.nicename}}
            </div>
        </div>
    </div>
    <div ng-show="mode.full">
        Full
    </div>
</div>