<div class="componentBox">
    <div class="componentContent">
        <div class="" style=" border-bottom: thin solid #DDDDDD; margin: 10px 0px; height: 40px">
       		<div class="row">
       			<div class="pull-left col-lg-6"><span  style="font-size: 28px; margin:5px 0px">{{element.title}}</span></div>
       			<div class="pull-right col-lg-4">
       				<button class="btn btn-warning pull-right" ng-click="updateElement()" style="margin-left: 10px">Update</button>
       				<button class="btn btn-success pull-right" ng-click="saveElement()">Save</button>
       			</div>
       			<div class="pull-right col-lg-2">
       				<ws-country-flag model="element.country" size="32"></ws-country-flag>
       			</div>
       		</div>
        </div>
        <div class="row">
            <div class="col-lg-6">
	            <div class="row" style="display: none">
                    <div class="col-lg-12">
                        <input class="ws-fullwidth" ng-model="element.place" placeholder="Place" readonly />
                    </div>
                </div>
                <div class="spacer-mini" style="display: none"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <textarea class="ws-fullwidth" ng-model="element.place" style="height: 100px" placeholder="Address"></textarea>
                        <input class="ws-fullwidth" ng-model="element.address" placeholder="Address" />
                    </div>
                </div>
                <div class="spacer-mini"></div>
                <div class="row">
                    <div class="col-lg-12">
                        <input class="ws-fullwidth" ng-model="model.url.facebook" placeholder="Facebook Link" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Contact</h5>
                        <input ng-model="model.address" class="ws-fullwidth" placeholder="Contact" />
                    </div>
                </div>
                <div class="spacer-mini"></div>
                <div class="row">
                    <div class="col-lg-8 album-container">
                        <h5>Photos</h5>
                        <div class="clearfix"></div>
                        <div class="border album-thumb"><img src="/wherestop/static/photo/thumb/1.jpg" /></div>
                        <div class="border album-thumb"><img src="/wherestop/static/photo/thumb/2.jpg" /></div>
                        <div class="border album-thumb"><img src="/wherestop/static/photo/thumb/3.jpg" /></div>
                        <div class="border album-thumb btn"><i class="fa fa-plus fa-2x"></i></div>
                    </div>
                 </div>
				 <div class="spacer-mini"></div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-12">
                        <textarea class="ws-fullwidth" ng-model="element.description" style="height: 100px" placeholder="Description" ng-model="model.description"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h5>Choose Categories</h5>
                        <div class="row">
                        	<div class="col-lg-12">
                        		<button class="btn btn-lg ws-no-radius ws-margin-small btn-default"><i class="fa fa-cutlery fa-2x"></i></button>
                        		<button class="btn btn-lg ws-no-radius ws-margin-small btn-default"><i class="fa fa-shopping-cart fa-2x"></i></button>
                        		<button class="btn btn-lg ws-no-radius ws-margin-small btn-default"><i class="fa fa-glass fa-2x"></i></button>
                            	<button class="btn btn-lg ws-no-radius ws-margin-small btn-default"><i class="fa fa-briefcase fa-2x"></i></button>
                            	<button class="btn btn-lg ws-no-radius ws-margin-small btn-default"><i class="fa fa-flag-checkered fa-2x"></i></button>
                        		<button class="btn btn-lg ws-no-radius ws-margin-small btn-default"><i class="fa fa-camera fa-2x"></i></button>
                            	<button class="btn btn-lg ws-no-radius ws-margin-small btn-default"><i class="fa fa-truck fa-2x"></i></button>
                        	</div>
                        </div>
                        <div class="spacer-mini"></div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        	<div class="col-lg-12">
        		
        	</div>
        </div>
    </div>

</div>